th{
    color:black;        
    text-transform: uppercase;
}
.community-post-wrap{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
table {
    background: #fff;
    box-shadow: 0px 2px 21px 0px rgb(59 53 63 / 12%)!important;
}
.community-post-type th span{ 
    color:grey!important;
    border-bottom: none;
}

tbody td{
    color:grey!important;
}

.community-post-content a{
    font-size: 16px;
    font-weight: 600;
    color: #413f3f;

}
.community-post-content{
    display: flex;
    flex-direction:column;
    color:grey !important;
}
.community-post-tag a {
    font-size: 12px;
    font-weight: 600;
    color: #413f3f;
    position: relative;
    z-index: 1;
    color: #fff !important;
    padding: 7px 20px;
    margin: 5px 2px 0;
    display: inline-block;
}

.community-post-tag a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: skewX(-20deg);
    z-index: -1;
    right: 0;
    margin: 0 auto;
    background: #EE5519;
    box-shadow: 0px 1px 8.37px 0.63px rgb(114 113 113 / 18%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

th div a:hover{
    text-decoration: none;
}

td i{
  color: #EE5519;
}


.community-post-content span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #9b9b9b;
    margin-top: 5px;
}

.community-wrap .community-bell::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 1px;
    height: 50px;
    background-color: rgb(223, 223, 223);
}

.community-wrap tbody td, .community-wrap tbody th {
    padding: 20px 25px;
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid #ededed;
}



.community-widget-title h5 {
    font-size: 16px;
    text-transform: uppercase;
    color: #515151;
    margin-bottom: 0;
}

.community-widget {
    background: #fff;
    box-shadow: 0px 2px 21px 0px rgb(59 53 63 / 12%);
    padding: 35px;
}

.community-sidebar-social ul li {
    margin-bottom: 15px;
}

.community-sidebar-social ul li a:hover {
    text-decoration: none;
}

.community-sidebar-social ul li a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #747373;
    background: #fbfbfb;
    border: 1px solid #e5e4e4;
    line-height: 58px;
    transition: 1s;
}

.community-sidebar-social ul li i{
    margin-right: 20px;
    color: #747373;
}
/* .mb-30{
    margin-bottom: 30px;
}

.mb-25{
    margin-bottom: 10px;
} */

.community-sidebar-social ul li a:hover {
    background: #EE5519;
    color: #fff;
    border-color: #EE5519;
}

.community-sidebar-social ul li a:hover i {
    color: #fff;
    border-color: #EE5519;
}

.community-sidebar-social ul li .pinterest{
    margin-bottom: 1px!important;
}